{% extends "base.html" %}
{% block body %}
  <legend> Enter Your Log In Credentials </legend>
  <ul>
    <form method="post">
    <li class="field">
      <label class="inline" for="text1">Email</label>
      <input class="wide text input" name="email" id="text1" type="email" placeholder="Email" />
    </li>
    <li class="field">
      <form method="post">
      <label class="inline" for="text2">Password</label>
      <input class="wide text input" name="password" id="text2" type="password" placeholder="Password" />
    </li>
    <div class="medium primary btn">
      <input type="submit">
    </div>
  </form>
  </ul>
{% endblock %}
